@media screen and(min-width: 768px) {

  .pralinGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  10px;
  }

  /********** FULLPAGE-TWO **********/
  .fullpage-two {
    .sorting-container {
      
    }

    .pralinGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }

  }

}