body{
    min-height: 100vh;
    color: #eeeee;
    background-image: url(/bilder/choklad.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fullpage-one{
    min-height: 100vh;
}
